{% extends 'listings/layout.html' %}

{% block content %}
    {% load static%}
    
    <div class="jumbotron shadow font-mono">
        <div class="text flex flex-col gap-12 justify-start ">
            <h2 class="text-6xl text-slate-800 uppercase">Welcome to the blog</h2>
            <p class="text-3xl lowercase">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis numquam saepe at architecto, sequi eos reprehenderit similique accusamus hic autem, veritatis reiciendis repellendus. Neque assumenda, esse deserunt fugiat voluptatibus magni?</p>
            <button class="text-3xl bg-slate-800 text-center text-white rounded-sm  ">Read more</button>
        </div>
        <img src="{% static 'listings/images/blog/blog.svg' %}" alt="" class="image">
    </div>

    <div class="advice">
        <h2 class="text-6xl text-slate-800 text-center">Our Visitors are always happy!</h2>
    </div>

    <div class="choice gap-8">
        <div class="row border">
            <img src="{% static 'listings/images/read/read.svg' %}" alt="read-image">
            <p class="text-3xl lowercase">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis numquam saepe at architecto, sequi eos reprehenderit similique accusamus hic autem, veritatis reiciendis repellendus. Neque assumenda, esse deserunt fugiat voluptatibus magni?</p>
            <a href="{% url 'blog-post-create' %}" class="text-3xl bg-blue-500 text-center hover:bg-blue-800 text-white shadow-md rounded-sm  ">Create</a>
        </div>
        <div class="row border">
            <img src="{% static 'listings/images/article/article.svg' %}" alt="" >
            <p class="text-3xl lowercase">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis numquam saepe at architecto, sequi eos reprehenderit similique accusamus hic autem, veritatis reiciendis repellendus. Neque assumenda, esse deserunt fugiat voluptatibus magni?</p>
            <a href="#" class="text-3xl bg-blue-500 hover:bg-blue-800 shadow-md text-center text-white rounded-sm  ">Explore</a>
        </div>
    </div>

{% endblock %}